/IKAnalyzer.cfg.xml
/applicationContext-cache.xml
/applicationContext-compass.xml
/applicationContext-database.xml
/applicationContext-email.xml
/applicationContext-security.xml
/applicationContext-transaction.xml
/applicationContext-web.xml
/applicationContext.xml
/captcha/
/com/
/freemarker.properties
/i18n/
/itrueshop.dic
/itrueshop.sql
/itrueshop.xml
/jdbc.properties
/log4j.properties
/oscache.properties
/readme.txt
/struts.xml
